*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background: rgb(2, 116, 122) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card{
    width: 400px;
    text-align: center;
    border-radius:8px;
    overflow: hidden;
}
.card-header{
    background: rgb(255, 255, 255);
    padding: 60px 40px;
}

.pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, rgb(3, 180, 3), rgb(205, 245, 205));
    margin:auto;
    border-radius: 50%; 
    animation: animated-gradient 2s linear infinite;
}
@keyframes animated-gradiend {
    
}

.pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
color: rgb(13, 2, 2);
font-size: 28px;
font-weight: 600;
margin: 10px 0;
}
.desc {
    font-size:18px;
    color: rgb(15, 4, 0);
    background: white
}
.sm {
    display: flex;
    justify-content: center;
    margin:20px 0;
}

.sm i{
    color: gold;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
    background: white
}
.sm a:hover{
    color: rgb(0, 255, 238);
}
.contact-btn{
    display: inline-block;
    padding:12px 50px;
    color: rgb(0, 183, 155);
    border: 2px solid rgb(11, 77, 34);
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
}

.contact-btn:hover{
    background: rgb(3, 153, 140);
    color: white;
}
.card-footer{
    background: rgb(1, 204, 39);
    padding: 15px 10px;
}
.numbers{
    display: flex;
    align-items: center;
}

.item{
    display: flex;
    justify-content: center;
    margin:20px 0;
}

.item span{
    display: block;
    color: darkgray;
    font-size: 30px;
}
.item i{
    color: white;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
    text-align: center;
}

.price{
    color: rgb(13, 2, 2);
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
    }
    .fa-phone::before {
        text-align: top;
    }